.hide-element {
    display: none;
}

.inline-div{
	display: inline-block;
}

.padding15{
	padding: 15px;
}

.bold{
	font-weight: bold;
}
.ldr-padding{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.ldr-padding-more{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:none!important;animation-fill-mode:none!important}
