<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Linked Data Reactor | {% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ali Khalili">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css" charset="utf-8">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <style>
    </style>
  </head>
  <body>
    <div>
        <nav class="ui blue menu inverted navbar page grid">
                <a class="brand item" href="/"><img class="ui mini image" src="/assets/img/ld-reactor.gif" alt="ld-reactor" /></a>
                <a class="brand item" href="/">LD-Reactor</a>
                <a href="http://github.com/ali1k/ld-r"><div class="ui right item link">
                        <i class="github circle icon"></i> Github
                </div></a>
        </nav>
          <div class="ui doubling page grid">
            <div class="four wide column">
                <div class="ui pointing vertical menu" id="menu">
                  <div class="header item">
                    LD-Reactor Docs
                  </div>
                  <a class="item" href="/" data-section="">
                    Home
                  </a>
                  <a class="item" href="/docs/architecture.html" data-section="architecture">
                    Architecture
                  </a>
                  <a class="item" href="/docs/quickstart.html" data-section="quickstart">
                    Quick Start
                  </a>
                  <div class="item">
                    Configs
                    <div class="menu">
                        <a class="item" href="/docs/configGeneral.html" data-section="configGeneral">General</a>
                        <a class="item" href="/docs/configProperties.html" data-section="configProperties">Properties</a>
                        <a class="item" href="/docs/configFacets.html" data-section="configFacets">Faceted Browser</a>
                    </div>
                  </div>
                  <div class="item">
                    Plugins
                    <div class="menu">
                        <a class="item" href="/docs/pluginAuth.html" data-section="pluginAuth">Authentication</a>
                    </div>
                  </div>
                  <div class="item">
                    Components
                    <div class="menu">
                        <a class="item" href="/docs/componentsCore.html" data-section="componentsCore">Core Components</a>
                        <a class="item" href="/docs/componentsOthers.html" data-section="componentsOthers">Others</a>
                    </div>
                  </div>
                  <a class="item" href="/docs/demo.html" data-section="demo">
                    Demo
                  </a>
                  <a class="item" href="/docs/contact.html" data-section="contact">
                    Contact Us
                  </a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui segment">
                    {{content}}
                </div>
            </div>
          </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script>
      $('#menu [data-section="{{page.section}}"]').addClass('blue active');
    </script>
  </body>
</html>
